/* Authour: Dustin Harris */
/* GitHub: https://github.com/DevL0rd */
html {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

body {
    background: transparent;
    overflow: hidden;
}

.brand-icon {
    color: lime;
}

.collapsed {
    display: none;
}

.navbar-dark {
    /* -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75); */
    background: rgba(0, 0, 0, 0.7);
}

.dropdown-menu {
    background: rgba(50, 50, 50, 0.2);
    padding: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030;
    max-height: 500px;
}

.dropdown-item {
    display: block;
    padding: 5px;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: rgba(133, 45, 204, 0.562);
    border: 0;
    transition-duration: 0.4s;
}

.dropdown-item:hover {
    color: white;
    background-color: rgba(26, 167, 80, 0.562);
    border: 0;
}

.loginModal {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.8);
    border: none;
    border-radius: 5px 5px 8px 8px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    width: 60%;
}

#loginOutput {
    margin-bottom: 5px;
}

@media (max-width: 992px) {
    .loginModal {
        width: 100%;
    }
}

.login-user-img {
    margin-top: -50px;
}

.login-user-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#profilePic {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

#loginGreeting {
    margin: 10px 0px;
    color: #f0f0f0;
}

#loginGreeting h1 {
    font-size: 30px;
}

#loginGreeting span {
    font-size: 10px;
}

.closeLogin {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #f0f0f0;
}

.form-input button {
    width: 100%;
    margin-bottom: 20px;
}

.loginModal-links {
    border-radius: 0px 0px 5px 5px;
    background-color: #ECF0F1;
    padding: 15px;
}

/* User list */
.userBarTemplate {
    display: none;
}

.userBar {
    text-align: left;
    margin-top: 5px;
    overflow: hidden;
}

.userBarName {
    color: white;
}

.userBarPhoto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

/* player */
#playerArea {
    position: relative;
    width: 100%;
    height: calc(100% - 56px);
    background: rgba(0, 0, 0, 0.6);
    padding: 0px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    padding: 0px;
}

#player {
    width: 100%;
    height: 100%;
    background: black;
}

#playerContainer {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

#videoOverlay,
#videoLoadingCover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#videoOverlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
}

#videoLoadingCover {
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#pageLoadingCover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(25, 25, 25);
    background: -moz-linear-gradient(top, rgba(25, 25, 25, 1) 1%, rgba(35, 35, 35, 1) 31%, rgba(35, 35, 35, 1) 70%, rgba(25, 25, 25, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(25, 25, 25, 1) 1%, rgba(35, 35, 35, 1) 31%, rgba(35, 35, 35, 1) 70%, rgba(25, 25, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(25, 25, 25, 1) 1%, rgba(35, 35, 35, 1) 31%, rgba(35, 35, 35, 1) 70%, rgba(25, 25, 25, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191919', endColorstr='#191919', GradientType=0);
    display: flex;
    justify-content: center;
}

.centerHorz {
    display: flex;
    justify-content: center;
}

.centerVert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loadingGif {
    margin: 0 auto;
    width: 200px;
    height: 150px;
}

#videoTitleText {
    font-size: 16px;
    color: rgba(255, 255, 255, .5);
}

#controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
}

#togglePlay {
    display: none;
    border: none;
    color: rgba(149, 66, 244, 0.8);
    font-size: 20px;
    background: transparent;
    transition-duration: 0.4s;
}

#togglePlay:hover {
    color: rgba(26, 167, 80, 0.562);
}

#togglePlay:focus {
    outline: none;
}

#videoTrack {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: calc(100% - 105px);
    height: 10px;
    border-radius: 5px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: none;
}

/* Mouse-over effects */
#videoTrack:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
#videoTrack::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: rgba(149, 66, 244, 1);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
}

#videoTrack::-moz-range-thumb {
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: rgba(149, 66, 244, 1);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
}

@media (max-width: 992px) {
    #playerArea {
        height: auto;
    }

    #player {
        height: auto;
    }
}

#volume {
    float: right;
    border: none;
    color: rgba(149, 66, 244, 0.8);
    font-size: 20px;
    background: transparent;
    transition-duration: 0.4s;
}

#volume:hover {
    color: rgba(26, 167, 80, 0.562);
}

#volume:focus {
    outline: none;
}

#toggleFullscreen {
    border: none;
    color: rgba(149, 66, 244, 0.8);
    font-size: 20px;
    background: transparent;
    float: right;
    transition-duration: 0.4s;
}

#toggleFullscreen:hover {
    color: rgba(26, 167, 80, 0.562);
}

#toggleFullscreen:focus {
    outline: none;
}

#volumeDropdown {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 45px;
    width: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#volumeSlider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    margin-top: 15px;
    margin-left: 11px;
    width: 8px;
    height: 125px;
    border-radius: 5px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
#volumeSlider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
}

#volumeSlider::-moz-range-thumb {
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: rgba(149, 66, 244, 1);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
}

#systemMessageBox {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 10px;
    color: white;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#systemMessage {
    background: rgba(40, 40, 40, 0.6);
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 15px;
    word-wrap: break-word;
    max-width: 395px;
    font-size: 16px;
}

#systemName {
    padding-left: 5px;
    padding-right: 15px;
    font-size: 20px;
    background: rgba(33, 168, 114, 0.6);
    width: 100%;
}

/* playlist */
#playlist {
    width: 100%;
    height: calc(100% - 85px);
    overflow-y: auto;
    padding: 5px;
}

.playListBar {
    position: relative;
    border-radius: 8px;
    color: white;
    word-wrap: break-word;
    background: rgba(32, 32, 32, 0.4);
    padding: 8px;
    padding-right: 60px;
    font-size: 15px;
    margin-top: 5px;
}

#playListBar0 {
    display: none;
}

.playlistTitle {
    margin-left: 5px;
}

.videoUserPhoto {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
}

.voteBox {
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 8px;
    font-size: 12px;
    color: white;
    padding: 6px;
    background: rgba(33, 168, 114, 0.6);
    transition-duration: 0.4s;
}

.voteBox:hover {
    cursor: pointer;
    background: rgba(24, 175, 115, 0.8);
}

.voteBoxRed {
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 8px;
    font-size: 12px;
    color: white;
    padding: 6px;
    background: #4286f4;
    transition-duration: 0.4s;
}

.voteBoxRed:hover {
    cursor: pointer;
    background: #2c74e9;
}

#videoUrl {
    padding: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 0px;
    width: calc(100% - 140px);
    color: white;
    background: rgba(32, 32, 32, 0.6);
    border-radius: 8px;
    border: none;
}

#videoUrl:focus {
    outline: none;
}

/* search */
#searchResults {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: calc(100% - 85px);
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
}

.searchResult {
    color: rgb(221, 221, 221);
    background: rgba(37, 37, 37, 0.5);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#searchResult0 {
    display: none;
}

.searchResult:hover {
    background: rgba(33, 168, 114, 0.8);
}

.videoThumbnail {
    margin-right: 5px;
}

.videoTitle {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.videoSource {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.videoData {
    padding: 5px;
    text-align: right;
}

#searchMethodSelector {
    margin-top: 8px;
    padding: 8px;
    padding-right: 8px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background: rgba(32, 32, 32, 0.6);
    color: white;
}

/* chat */
.chatHeader {
    color: white;
    background: rgba(32, 32, 32, 0.1);
    font-size: 20px;
    padding: 6px;
    text-align: center;
}

#chat {
    height: calc(100% - 56px);
    background: rgba(0, 0, 0, 0.6);
    padding: 0px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
}

.chatBox {
    display: none;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    width: calc(100% - 15px);
    margin: 5px;
    border-radius: 8px;
}

.chatUserInfoHolder {
    background: rgba(30, 30, 30, 0.3);
    color: white;
    width: 100%;
    padding: 5px;
    text-align: left;
}

.chatBoxPhoto {
    display: inline;
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
}

.chatUsername {
    margin-left: 5px;
    font-size: 12px;
}

.chatMessage {
    width: 100%;
    padding: 5px 10px;
    word-wrap: break-word;
    font-size: 14px;
}

.serverMessage {
    background: rgba(149, 66, 244, 0.8);
}

.messageImage {
    width: 300px;
    margin-left: 10px;
}

#chatBar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    resize: none;
    border: none;
    padding: 8px;
}

#chatBar:focus {
    outline: none;
}

#chatLog {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 82px);
}

#typingNotice {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 10px;
    border-radius: 5px;
    background: rgba(17, 17, 17, 0.8);
    color: white;
    padding: 5px;
}

#chatFloatArea {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    pointer-events: none;
}

/* scroll */
.customScroll::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.8);
}

.customScroll::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgba(149, 66, 244, 1);
    border-radius: 50px;
}

/* bootstrap fix */
.row {
    margin-right: 0px;
    margin-left: 0px;
}